.App {
    text-align: center;
    overflow-x: hidden;
    background-color: #eee;
    min-height: 100vh;
}
div
.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #AC98AC;
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    color: white;
}

.App .editor {
    margin-left: 15%;
    background-color: #eee;
    overflow-x: hidden;
}

.text-editor {
    width: 100%;
    display: flex;
    justify-content: center;
}

.code-mode {
    margin: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: left;
}

.CodeMirror {
    min-height: 100%;
    max-width: 300px;
    margin-right: 10px;
}

.exec {
    float: right;
    padding: 50px;
    margin-left: 2em;
    background-color: #fff;
    width:600px;
    height: 600px;
    border: 2px solid #ccc;
}

.btn {
  padding: 2px 20px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  color: #000;
  background-color: #ccc;
  border: 1px solid #b3b3b3;;
  border-radius: 3px;
}

.App .save-btn {
  padding: 8px 20px;
  margin: 10px 5px 15px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: #76bc76;
  border: none;
  border-radius: 15px;
  float: right;
}


.App .x-btn {
  padding: 8px 11px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  border: none;
  background-color: #ccc;
  border-radius: 18px;
  float: right;
  max-height: 30px;
  max-width: 30px;
}

.App .run-btn {
  padding: 10px 15px;
  margin-left: 3em;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  border: none;
  background-color: #7F7FFF;
  border-radius: 18px;
  float: left;
}

.buttons {
    width: 500px;
    float: right;
    margin-left: 1em;
}

.App .choice {
    max-width: 100%;
    height: 100px;
    text-align: left;
    padding: 1em 3em 0;
}

.invite {
    width: 100%;
    padding: 0.5em;
    text-align:center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #d4f8d4;
}

.App .message {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
}

.App .base-container {
    width: 100%;
    height: 500px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.App .base-container .header {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    background-color: #f3f3f3 ;
    border-radius: 4px;
}

.App .base-container .content {
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 2em;
    border-radius: 20px;
    border: 3px solid #add8e6;
}

.App .base-container .content div {
    padding: 1em;
}

.App .register {
    float: right;
    background-color: #add8e6;
}

.App .base-container form {
      margin-top: 2em;
      display: flex;
      flex-direction: column;
      align-items: center;
}

.App .base-container form {
      margin-top: 2.5em;
      display: flex;
      flex-direction: column;
      align-items: center;
}

.App .base-container input {
    margin-top: 6px;
    min-width: 18em;
    height: 37px;
    padding: 0px 10px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
    border: 0;
    border-radius: 4px;
    margin-bottom: 31px;
    transition: all 250ms ease-in-out;
    &:hover {
      //background-color: #ffffff;
      //box-shadow: 0px 0px 14px 0.3px #0e81ce96;
    }

    &:focus {
        outline: none;
        box-shadow: 0px 0px 12px 0.8px #3474dbb2;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width:1000px) {
    .App .editor,
    .App .code-editor {
        margin-left: 7px;
        width: 90%;
    }
}
